<h1>User List</h1>

<table>
  <tr>
    <th>name</th><th>screen</th><th colspan="3">description</th>
  </tr>
  <tr>
    <td><%= @select_user.name %></td>
    <td><%= @select_user.screen_name %></td>
    <td><%= @select_user.description %></td>
  </tr>
</table>
